<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fotorama.js') }}"></script>
    <script src="https://use.fontawesome.com/573e1939a9.js"></script>
    <script>
        $(document).ready(function(){ 
            $('.fade-in').hide().fadeIn();
            $('#rangeslider').slider({
                range: true,
                min: 0,
                max: {{ price_max }},
                values: [0, {{ price_max }}],
                slide: function( event, ui ) {
                    $('#rangeval').html("$"+ui.values[0]+" ~ $"+ui.values[1]);
                }
            });
        });
    </script>
    
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fotorama.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
    <script src='https://www.google.com/recaptcha/api.js'></script>
    
    <title>Title Static</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="content">
        <div class="container">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endfor %}
            
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>