{% extends 'index.html' %}

{% block content %}

<hr>

<div class="row">
    <div class="col-xs-24">
        <!-- START class filter-box -->
            <div class="row">
                <div class="filter-select col-xs-24 col-sm-6">
                    <p>가격</p>
                    <p id="rangeval" style="margin-top:-9px; text-align:center; font-weight:bold">$0 ~ ${{ price_max }}</p>
                    <div id="rangeslider"></div>
                </div>
                <div class="filter-select col-xs-6 col-sm-3">
                    방
                    <select class="form-control form-control-select">
                        <option value="0">0+</option>
                        <option value="1">1+</option>
                        <option value="2">2+</option>
                        <option value="3">3+</option>
                        <option value="4">4+</option>
                    </select>
                </div>
                <div class="filter-select col-xs-6 col-sm-3">
                    화
                    <select class="form-control form-control-select">
                        <option value="1">0+</option>
                        <option value="1">1+</option>
                        <option value="2">2+</option>
                        <option value="3">3+</option>
                        <option value="4">4+</option>
                    </select>
                </div>
                <div class="filter-select col-xs-12 col-sm-6">
                    지역
                    <select class="form-control form-control-select">
                        <option value="">전체</option>
                        {% for region in regions: %}
                            <option value="{{region.region}}">{{ region.region }}</option>
                        {% endfor %}
                    </select>
                </div>
                
            </div><!-- END class row -->
        <!-- END class filter-box -->
    </div><!-- END class grid -->
</div><!-- END class row -->

<hr>

<div class="row"><!-- START cards -->
    {% for post in posts: %}
    <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="card fade-in">
            <div class="card-viewed">
                <i class="fa fa-eye" aria-hidden="true"></i>&nbsp{{ post.viewed }}
            </div>
            <a class="card-img" href="/view/{{ post.id }}">
                {% if not post.image_ext: %}
                    <img src="{{ url_for('static', filename='images/no-photo.png') }}" />
                {% else %}
                    <img src="{{ post.image_ext }}" />
                {% endif %}
            </a>
            <div class="card-content">
                <p class="card-subject ellipsis">
                    <a href="/view/{{ post.id }}">{{ post.subject }}</a>
                </p>
                <p class="card-body-1 ellipsis">
                    {% if post.bedrooms=='studio': %}
                        스튜디오 •
                    {% else: %}
                        방 {{ post.bedrooms }} •
                    {% endif %}
                    
                    화 {{ post.bathrooms }} •
                    
                    {% if post.parking==None or post.parking: %}
                        파킹 --
                    {% else: %}
                        파킹 {{ post.parking }}
                    {% endif %}
                </p>
                <p class="card-body-2 ellipsis">
                    {{ '${:,}'.format(post.price) }}
                    <span class="card-body-3 ellipsis">
                        {% if page in ['rent','homestay']: %}
                            /월
                        {% elif page=='bnb': %}
                            /일
                        {% elif page=='realestate': %}
                            {{ '{:,}'.format(post.sqft) }} sqft.
                        {% endif %}
                    </span>
                </p>
            </div>
            <div class="card-read-more ellipsis">
                <p style="float:left;"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ post.region }}</p>
                <p style="float:right;">{{ (today.date()-post.date_posted.date()).days }}일전</p>
            </div>
        </div><!-- END class card -->
    </div><!-- END class grid -->
    {% endfor %}
</div><!-- END class row -->

<br />

<div class="col-xs-24 col-sm-offset-21 col-sm-3">
    <a href="/{{ page }}/edit"><button type="button" class="btn btn-to-edit">등록하기</button></a>
</div>

<div class="pagination-centered">
    <ul class="pagination">
        {% for num in range(1, 6): %}
            <li {% if page_num==num %}class="active"{% endif %}>
                <a href="/{{ page }}/{{ num }}">{{ num }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}