{% extends 'index.html' %}

{% block content %}
<hr>
<div class="row">
    <div class="col-xs-24">
        <h1 class="view-subject ellipsis">{{ post.subject }}</h2>
    </div><!-- END class grid -->
</div><!-- END class row -->

<div class="row">
    <div class="col-xs-24 col-sm-16">
        <div class="fotorama"
               data-fit="cover"
               data-width="100%" 
               data-ratio="1.55"
               data-nav="thumbs">
            <!-- 
            {% for image in images: %}
            {% endfor %}
            -->
            {% if post.image_ext: %}
                <img src="{{ post.image_ext }}" />
            {% else %}
                <img src="{{ url_for('static', filename='images/no-photo.png') }}" />
            {% endif %}
            <img src="{{ url_for('static', filename='images/no-photo.png') }}" />
        </div><!-- END class fotorama -->
    </div><!-- END class fotorama grid -->
    
    <div class="col-xs-24 col-sm-8">
        <div class="view-box">
            <p class="view-box-price">{{ '${:,}'.format(post.price) }} <span style="font-size:16px;">{{ price_suffix }}</span></p>
            <hr>
            <p class="view-box-title">&nbsp{% if post.address: %}{{ post.address }} {% else: %} --- {% endif %}</p>
            <p class="view-box-subtitle">&nbsp{% if post.bedrooms!='studio' %}방 {% endif %}{{ post.bedrooms.capitalize() }} • 화 {{ post.bathrooms }}</p>
        </div><!-- END class view-box for price -->
    </div><!-- END class grid -->
    
    <div class="col-xs-24 col-sm-8">
        <div class="view-box">
            <div class="row">
                <div class="col-xs-24">
                    <span class="view-box-corner"><i class="fa fa-user" aria-hidden="true"></i> {{ post.username }}</span>
                    <p class="view-box-title">연락처</p>
                    <hr>
                </div>
                <div class="col-xs-7">
                    <p class="view-box-subtitle">이메일:</p>
                    <p class="view-box-subtitle">전화:</p>
                    <p class="view-box-subtitle">
                        <img style="height:16px;" src="{{ url_for('static', filename='images/kakaolink_btn_medium.png') }}" > 카톡:
                    </p>
                </div>
                <div class="col-xs-17">
                    <p class="view-box-stat">{% if post.email==None: %} -- {% else: %} {{ post.email }} {% endif %}</p>
                    <p class="view-box-stat">{% if post.phone==None: %} -- {% else: %} {{ post.phone }} {% endif %}</p>
                    <p class="view-box-stat">{% if post.kakaotalk==None: %} -- {% else: %} {{ post.kakaotalk }} {% endif %}</p>
                </div>
            </div>
        </div><!-- END class contact view-box -->
    </div><!-- END class grid -->
    
    <div class="col-xs-24 col-sm-8">
        <div class="view-box">
            <div class="row">
                <div class="col-xs-24">
                    <p class="view-box-title">상세정보</p>
                    <hr>
                </div>
                <div class="col-xs-7">
                    <p class="view-box-subtitle">주차:</p>
                    <p class="view-box-subtitle">지역:</p>
                    <p class="view-box-subtitle">면적:</p>
                    <p class="view-box-subtitle">년도:</p>
                    <p class="view-box-subtitle">등록일:</p>
                    <p class="view-box-subtitle">조회수:</p>
                </div>
                <div class="col-xs-17">
                    <p class="view-box-stat">{% if post.parking==None: %} -- {% else: %} {{ post.parking }} 대{% endif %}</p>
                    <p class="view-box-stat">{{ post.city }}</p>
                    <p class="view-box-stat">{% if post.sqft==None: %} -- {% else: %} {{ '{:,}'.format(post.sqft) }} {% endif %} sqft.</p>
                    <p class="view-box-stat">{% if post.year==None: %} -- {% else: %} {{ post.year }} {% endif %}</p>
                    <p class="view-box-stat">{{ post.date_posted.date() }}</p>
                    <p class="view-box-stat">{{ post.viewed }}</p>
                </div>
            </div>
        </div><!-- END class details view-box -->
    </div><!-- END class grid -->
</div><!-- END class row -->

<div class="row">
    <div class="col-xs-24 col-sm-16">
        <div class="view-body">
            <p>{{ post.body }}</p>
        </div><!-- END class view-body -->
    </div><!-- END class grid -->
    
    <div class="col-xs-24 col-sm-8">
        <div class="view-adspace" style="border:1px solid red; margin:6px 0 6px 0;">
            
        </div>
    </div>
</div><!-- END class row -->
{% endblock %}