{% extends 'index.html' %}

{% block content %}
<hr>
<div class="row">
    <div class="col-xs-24">
        <h1 class="view-subject ellipsis">{{ post.subject }}</h2>
    </div><!-- END class grid -->
</div><!-- END class row -->

<div class="row">
    <div class="col-xs-24 col-sm-16">
        <div class="fotorama"
               data-width="100%" 
               data-ratio="1.55"
               data-nav="thumbs">
            <!-- 
            {% for image in images: %}
            {% endfor %}
            -->
            <img src="{{ url_for('static', filename='images/no-photo.png') }}" />
        </div><!-- END class fotorama -->
    </div><!-- END class fotorama grid -->
    
    <div class="col-xs-24 col-sm-8">
        <div class="view-box">
            <p class="view-box-price">{{ '${:,}'.format(post.price) }} <span style="font-size:16px;">{{ price_suffix }}</span></p>
        </div><!-- END class view-box for price -->
    </div><!-- END class grid -->
    <div class="col-xs-24 col-sm-8">
        <div class="view-box">
            <div class="row">
                <div class="col-xs-24">
                    <span class="view-box-corner">등록자: {{ post.username }}</span>
                    <p class="view-box-title">연락처</p>
                </div>
                <div class="col-xs-8">
                    <p class="view-box-subtitle">전화:</p>
                    <p class="view-box-subtitle">이메일:</p>
                    <p class="view-box-subtitle">카카오톡:</p>
                </div>
                <div class="col-xs-16">
                    <p class="view-box-stat">{% if post.phone==None: %} -- {% else: %} {{ post.phone }}} {% endif %}</p>
                    <p class="view-box-stat">{% if post.email==None: %} -- {% else: %} {{ post.email }}} {% endif %}</p>
                    <p class="view-box-stat">{% if post.kakaotalk==None: %} -- {% else: %} {{ post.kakaotalk }}} {% endif %}</p>
                </div>
            </div>
        </div><!-- END class contact view-box -->
    </div><!-- END class grid -->
    <div class="col-xs-24 col-sm-8">
        <div class="view-box">
            <div class="row">
                <div class="col-xs-24">
                    <span class="view-box-corner">등록일: {{ post.date_posted.date() }}</span>
                    <p class="view-box-title">상세정보</p>
                </div>
                <div class="col-xs-8">
                    <p class="view-box-subtitle">방:</p>
                    <p class="view-box-subtitle">화장실:</p>
                    <p class="view-box-subtitle">주차:</p>
                    <p class="view-box-subtitle">지역:</p>
                    <p class="view-box-subtitle">면적:</p>
                    <p class="view-box-subtitle">년도:</p>
                </div>
                <div class="col-xs-16">
                    <p class="view-box-stat">{% if post.bedrooms=='studio': %} 스튜디오 {% else: %} {{ post.bedrooms }} {% endif %}</p>
                    <p class="view-box-stat">{{ post.bathrooms }}</p>
                    <p class="view-box-stat">{% if post.parking==None: %} -- {% else: %} {{ post.parking }} {% endif %}</p>
                    <p class="view-box-stat">{{ post.region }}</p>
                    <p class="view-box-stat">{% if post.sqft==None: %} -- {% else: %} {{ post.sqft }} {% endif %} sqft.</p>
                    <p class="view-box-stat">{% if post.year==None: %} -- {% else: %} {{ post.year }} {% endif %}</p>
                </div>
            </div>
        </div><!-- END class details view-box -->
    </div><!-- END class grid -->
</div><!-- END class row -->

<div class="row">
    <div class="col-xs-24 col-sm-16">
        <div class="view-box">
            <p>{{ post.body }}</p>
        </div><!-- END class view-box for body -->
    </div><!-- END class grid -->
    
    <div class="col-xs-24 col-sm-8">
        <div class="view-adspace" style="border:1px solid red; margin:6px 0 6px 0;">
            
        </div>
    </div>
</div><!-- END class row -->
{% endblock %}