
@font-face {
    font-family: nanumpenscript;
    src: url(../fonts/NanumPenScript-Regular.ttf);
}
@font-face {
    font-family: nanumgothic;
    src: url(../fonts/NanumGothic-Bold.ttf);
}
@font-face {
    font-family: jejugothic;
    src: url(../fonts/JejuGothic-Regular.ttf);
}

html,
body{
    height: 100%;
    background-color: #f6f6f6;
    font-family: Raleway, arial;
}
p, span {
    margin: 0px;
    padding: 0px;
}
hr {
    border-bottom: 1px solid #d4d4d4;
}
.clear{
    clear: both;
}
.container{
    max-width: 940px;
}
.content{
    min-height: 660px;
    margin-top: 66px;
}
.heading-box{
    margin: 3px 0px 3px 0px;
    height: 60px;
}
.heading{
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px;
    color: #444444;
    font-size: 20px;
    font-weight: bold;
}
.sub-heading-box{
    margin: 3px 0px 3px 0px;
    height: 42px;
}
.sub-heading{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px;
    color: #444444;
    font-size: 16px;
    font-weight: bold;
}
.tray-box{
    margin: 3px 0px 3px 0px;
    height: 60px;
}
.pagination-nav{
    text-align: center;
}
.pagination>li.active>a{
    background-color: #0066CD;
}
.ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* navbar CSS */
.navbar-custom {
    background-color: #ffffff;
    border-radius: 0px;
    border-bottom: 0px;
    box-shadow: 0 3px 6px -1px rgba(0,0,0,0.3);
}
.navbar-brand{
    background-color: #0066CD;
}
.navbar-brand span{
    color: #FFFFFF;
    font-family: nanumpenscript; 
    font-size: 24px;
    font-weight: normal;
}
.navbar a{
    color: #6c6c6c;
    font-size: 14px;
    font-weight: bold;
}
.navbar li a:hover{
    background-color: #FFFFFF;
    color: #0066CD;
}
.navbar-toggle .icon-bar {
    width: 18px;
    height: 2px;
    background-color: #6c6c6c;
}
.nav-active a{
    color: #0066CD;
}

/* card page CSS */
.btn-edit{
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    color: #ffffff;
    background-color: #0066CD;
    border: none;
}
.btn-edit:hover{
    color: #ffffff;
    background-color: #004081;
}
.btn-group{
    display:block;
}
.btn-group a:hover{
    background-color: #0066CD;
    color: #FFFFFF;
}
.filter-box{
    display: block;
    margin: 3px -12px 3px -12px;
    border-radius: 5px;
    border: 1px solid #D4D4D4;
}
.filter-box a{
    font-weight: bold;
    color: #6c6c6c;
}
.card {
    display: block;
    position: relative;
    margin: 3px -12px 3px -12px;
    height: 255px;
    background-color: #ffffff;
    border-radius: 0px;
    border: 1px solid #d4d4d4;
    transition: box-shadow .25s;
    overflow: hidden;
}
.card:hover {
    box-shadow: 0 2px 6px 0px rgba(0,0,0,0.3);
}
.views-tag {
    position:absolute;
    right: 6px;
    top: 6px;
    background-color: #444444;
    border-radius: 3px;
    opacity: 0.80;
    padding: 1px 5px 1px 5px;
    color: #FFFFFF;
    font-size: 11px;
} /*http://stackoverflow.com/questions/17342315/mysql-increase-value-when-button-is-clicked*/
.img-card {
    width: 100%;
    height: 144px;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    display:block;
    overflow: hidden;
}
.img-card img{
    width: 100%;
    height: 144px;
    object-fit: cover;
    transition: all .25s ease;
}
.card-content{
    text-align: left;
}
.card-title {
    padding: 6px 6px 3px 6px;
    font-weight: bold;
    font-size: 14px;
}
.card-title a {
    color: #0066CD;
    text-decoration: none;
}
.card-title a:hover{
    color: #004081;
    text-decoration: none;
}
.card-desc-1 {
    padding: 0px 6px 6px 6px;
    font-weight: normal;
    font-size: 14px;
}
.card-desc-2 {
    padding: 12px 6px 3px 6px;
    color: #444444;
    font-weight: bold;
    font-size: 16px;
}
.card-read-more {
    padding: 1px 6px 6px 6px;
    border-top: 1px solid #D4D4D4;
    color: #757575;
    font-size: 11px;
}
.card-premium-empty a{
    font-weight: bold;
    position: relative;
    top: 35%;
}

/* sign pages CSS */
.sign-attr-text{
    margin: 0px 6px 0px 3px;
    color: #787878;
    font-size: 13px;
}
.btn-sign{
    color: #ffffff;
    border: 0px;
    background-color: #0066CD;
}

/* form page CSS */
.modal.modal-wide .modal-dialog {
    width: 90%;
}
.form-box {
    display: block;
    margin-bottom: 9px;
    padding: 9px 9px 0px 9px;
    border: 1px solid #d4d4d4;
    overflow: hidden;
    /*box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);*/
    background-color: #FFFFFF;
}
.btn-form-submit {
    text-align: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
}
.vresize {
    resize: vertical;
}
.dropdown select{
    font-size: 13px;
}

/* footer CSS */
.footer{
    margin-top: 120px;
    padding: 24px;
    clear: both;
    background-color: #444444;
    color: #FFFFFF;
}

@media only screen and (max-width : 991px) {
/* only size 'sm' and below */
    .img-card {
        height: 114px;
    }
    .img-card img{
        height: 114px;
    }
    .card{
        height: 219px;
    }
    .card-title {
        font-size: 13px;
    }
    .card-desc-1 {
        font-size: 13px;
    }
    .card-desc-2 {
        font-size: 15px;
    }
    .card-read-more {
        font-size: 10px;
    }
    .card-premium-empty a{
        font-size: 13px;
    }
}
@media only screen and (max-width : 767px) {
/* only size 'xs' and below */

}

/*"http://www.fostrap.com/"*/
