
{% block navbar %}
<nav class="navbar navbar-custom navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="./">
				<span>CALBANG</span>
			</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li><a href="/bnb">민박</a></li>
				<li><a href="/homestay">하숙</a></li>
				<li><a href="/rent">렌트</a></li>
				<li><a href="/realestate">부동산</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{% if session['logged_in'] == True %}
					<li><a href="/profile"><i class="fa fa-user" aria-hidden="true"></i> USERNAME </a></li>
					<li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> 로그아웃</a></li>
				{% else %}
					<li><a href="/register"><i class="fa fa-user-plus" aria-hidden="true"></i> 회원가입</a></li>
					<li><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i> 로그인</a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
{% endblock %}
